<div class="container home-hub mt-5 ">
    <div class="row ">
        <div class="col-lg-6 d-flex center-columns justify-content-lg-end mb-3">
            <div class="card hover-shadow" >
                <div class="card-body">
                    <img src="/assets/images/home/about.png" alt="about me" class="card-img-top">
                    <p class="card-text">Viviene Noel is a fantasy author currently working on several projects 
                        that will make up ‘The Chronicles of Fanhalen’.</p>
                    <a href="/about/">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 d-flex center-columns justify-content-lg-start mb-3">
            <div class="card hover-shadow">
                <div class="card-body">
                    <img src="/assets/images/home/blog.png" alt="blog posts" class="card-img-top">
                    <p class="card-text">I wanted to have a platform to share and discuss different topics and 
                        aspects related to literature that was more formal than the typical social media.</p>
                    <a href="/blog/">Let's debate</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 d-flex center-columns justify-content-lg-end mb-3">
            <div class="card hover-shadow" >
                <div class="card-body ">
                    <img src="/assets/images/home/projects.png" alt="my projects" class="card-img-top">
                    <p class="card-text">
                        A Curse of Blood and Power is a YA/NA epic fantasy following the adventures of a young woman as she awakens 
                        in a universe foreign to her own, void of memories. 
                        The Boneless Prince is a YA fantasy romance between a crippled, cruel prince and a fire-wielding, cunning slave.
                    </p>
                    <a href="/projects/">Satisfy your curiosity</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 d-flex center-columns justify-content-lg-start mb-3">
            <div class="card hover-shadow">
                <div class="card-body">
                    <img src="/assets/images/home/fanhalen.png" alt="world of fanhalen" class="card-img-top">
                    <p class="card-text">I might be generous enough to share some privileged content over here… </p>
                    <a href="/members/" class="" >Check it out</a>
                </div>
            </div>
        </div>
    </div>
</div>