<div class="insta">
    <div class="container">
        <div class="row">
            <h3>INSTAGRAM POSTS</h3>
            <div class="col-lg-3 col-md-3">
                <img src="/assets/images/banner.jpeg" class="img-responsive" style="height: 200px; width: 200px;">
            </div>
            <div class="col-lg-3 col-md-3">
                <img src="/assets/images/king.jpeg" class="img-responsive" style="height: 200px; width: 200px;">
            </div>
            <div class="col-lg-3 col-md-3">
                <img src="/assets/images/fantasy_background.jpeg" class="img-responsive" style="height: 200px; width: 200px;">
            </div>
            <div class="col-lg-3 col-md-3">
                <img src="/assets/images/banner.jpeg" class="img-responsive" style="height: 200px; width: 200px;">
            </div>
        </div>
    </div>  
</div>