.post{
    padding: 30px 15px;

}

.caption-size{
    font-size: 12px;
}

.blog{
    padding: 30px 30px;

    font-size: 20px;
    @media screen and(max-width: 991px) {
        font-size: 26px;
    }
    .card{
        max-width: fit-content;

        img{
            max-width: 350px;
            @media screen and (max-width: 991px) {
                max-width: 700px;
            }

            @media screen and(min-width: 992px) and (max-width: 1200px) {
                max-width: 400px;
            }

        }
    }
    ul{
        padding: 30px 50px;
        height: max-content;
    }
    
    li{
        margin-bottom: 15px;
        padding: 10px;
    }
    
    a{
        color: var(--dark);
    }
    
    a:hover{
        color: var(--gold);
    }

    // .hover-shadow{
    //     &:hover{
    //         transform: scale(1.1);
    //     }
    // }

    
}
