.character {
    h2{
        color: var(--green);
    }
    img{
        width: 300px;
    }
}

.how-img{
    text-align: start;
}


.img-description{
    h2{
        color: var(--green);
    }

    h3{
        color:var(--green);
        font-size: 20px;
    }

    h4{
        color:var(--green);
        font-size: 20px;
    }
}    

@media only screen and (max-width: 1000px){
    .character img{
        width: 250px;
    }
    .img-description{
        padding-top: 10px;
    }
}

.how-section1{
    margin-top: -10%;
    padding: 5%;

    .row{
        margin-top: 5%;
    }
}
