.footer{
    background-color: var(--green);
    font-size: 20px;
}

.newsletter{
    background-color: var(--green);
    height: 110px;
    margin-top: 20px;
}

.newsletter-header{
    padding-top: 20px;
}

.newsletter-subscribe-button-lead{
    text-transform: uppercase;
}

.newsletter .btn{
    width: 450px;
    height: 70px;
    background-color: rgb(224,211,188);
    border-radius: 0px;

    span{
        color: var(--green);
        font-size: 1.5rem;
    }
}

.newsletter .btn:hover{
    background-color: rgb(224,211,188);
    // opacity: 0.8;
    transform: scale(1.1);
}