.page-header{
    background-color: var(--green);
    height: 70px;
    padding: 20px;
}

.page-header h2{
    font-size: 30px;
    color: var(--dark);
}

.gap30{
    padding-top: 30px;
}

@font-face{
    font-family: "Endear";
    src: url('/assets/fonts/Endear-Regular.woff2') format('woff2');
}
@font-face{
    font-family: "Mini Story";
    src: url('/assets/fonts/Mini-Story.woff2') format('woff2');
}
@font-face{
    font-family: "Something Special";
    src: url('/assets/fonts/SomethingSpecial.woff2') format('woff2');
}
@font-face{
    font-family: "Xarrovv";
    src: url('/assets/fonts/Xarrovv.woff2') format('woff2');
}

.insta{
    background-color: lightsalmon;
}

.insta .container{
    background-color: lightsalmon;
    margin: 20px;
    padding: 20px;
}

.home-hub{
    .card{
        width: 30rem;

        @media screen and (max-width:991px) {
            width: 40rem;
        }
    }
    .card-text{
        font-size: 20px;
        margin-bottom: 70px;
        @media screen and (max-width:991px) {
            font-size: 28px;
        }
    }
}

.home-hub a{
    color:var(--green);
    font-size: 25px;
    bottom: 0;
    position: absolute;
    margin-bottom: 20px;
    @media screen and (max-width:991px) {
        font-size: 33px;
    }
}

.home-hub a:hover{
    color:var(--bgold)
}

.center-columns{
    display: grid;
    justify-content: center;
}

.about-image-container{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.about-image{
    width: 500px;
    align-items: flex-start;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-bottom: 30px;

    @media screen and (min-width: 991px) and (max-width: 1200px) {
        width: 400px;
    }
}


.about-text{
    text-align: justify;
    font-size: 20px;
}

.about-container{
    margin-top: 60px;
    max-width: 1140px !important;
    padding: 20px;
}

@media screen and (min-width: 992px) {
    
    .container{
        max-width: 1140px !important;
    }
}