
.order-button{
    text-transform: uppercase;
    font-weight: 700 !important;
    background-color: var(--green) !important;
    width: 224px;
    height: 70px;
    display: flex !important;
    align-items: center !important;
    padding: 10px;
    i {
        font-size: 2rem;
        color: white;
    }
    .order-button-text{
        padding-left: 10px;
        font-size: 1rem;
        color: white;
        
    }
}

.project-links{
    margin: 0 !important;
    padding: 0 !important;

    li{
        list-style: none;
        margin-bottom: 20px !important;
    }
}


.project-container-flex{
    max-width: 100% !important;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5em;
    .text {
        padding: 0 25px;
    
        h1{
            font-weight: 500;
            color: var(--green);
            font-family: "Xarrov";
        }
        p{

            text-align: justify;
            text-justify: inter-word;
        }
    }

    font-size: 20px;
    @media screen and(max-width: 991px) {
        font-size: 26px;
    }
}

.project-xl{
    
    img {
        max-width: 100%
    }

    .image {
        flex-basis: 35%;
        order: 0;
    }

    .links{
        flex-basis: 15%;
        order:1;
        padding-left: 15px;
        
        li{
            margin-bottom: 10px;
        }
    }
    
    .text {
        flex-basis: 50%;
        order:1;

    }

    @media screen and(max-width: 1300px) {
        display: none;
    }
}

.project-lg{
    img{
        max-width: 50%;
        margin-left: 25%;
        margin-bottom: 25px;
    }

    .links{
        flex-basis: 15%;
        order:1;
        margin-left: 25px;
        
        li{
            margin-right: 10px;
            margin-left: 0;
        }
    }
    .hlist{
        width: 50%;   
    }


    .text{
        
    }

    @media screen and(min-width:1301px) {
        display: none;
    }
}

.projects-layout{
    margin-bottom: 40px;
    margin-top: 40px;
    padding-right: 50px;
    padding-left: 30px;
}