---

---
<style>
    .container {
        max-width: 100% !important;
      display: flex;
      align-items: flex-start;
      justify-content: center
    }
  </style>
    
<div class="project-container-flex project-xl">
        <div class="image">
            <img src="{{ page.image }}" alt="{{ page.title }} cover">
        </div>
    <div class="links">
        <ul class="project-links">
            {% if page.status_link %}
            <li>
                <a href={{ page.status_link }} target="_blank" class="btn order-button"> 
                    <i class="fas fa-edit"></i><span class="order-button-text">{{ page.status }}</span>
                </a>
            </li>
            {% endif %}
            {% if page.status %}
            <li>
                <h3><b>Status:</b> {{page.status}}</h3>
            </li>
            {% endif %}
            {% if page.order_link %}
            <li>
                <a href={{ page.order_link }} target="_blank" class="btn order-button"> 
                    <i class="fab fa-amazon"></i><span class="order-button-text">Preorder now on Amazon!</span> 
                </a>
            </li>
            {% endif %}
            {% if page.goodreads_link %}
            <li>
                <a href={{ page.goodreads_link }} target="_blank" class="btn order-button"> 
                    <i class="fab fa-goodreads"></i><span class="order-button-text">Post a review on Goodreads!</span> 
                </a>
            </li>
            {% endif %}
            {% if page.etsy_link %}
            <li>
                <a href={{ page.etsy_link }} target="_blank" class="btn order-button"> 
                    <i class="fab fa-etsy"></i><span class="order-button-text">Get your signed copy and merch on Etsy</span> 
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    
    
    <div class="text">
        <div class="project-content">
            <h1>{{ page.project_name | upcase}}</h1>
            <p>
                {{ content }}
            </p>
        </div>
    </div>
</div>

<div class="project-container-flex project-lg ">
    <div class="image image-lg">
        <img src="{{ page.image }}" alt="{{ page.title }} cover">
        <div class="links links-lg">
            <ul class="project-links hlist">
                {% if page.status_link %}
                <li>
                    <a href={{ page.status_link }} target="_blank" class="btn order-button"> 
                        <i class="fas fa-edit"></i><span class="order-button-text">{{ page.status }}</span>
                    </a>
                </li>
                {% endif %}
                {% if page.status %}
                <li>
                    <h3><b>Status:</b> {{page.status}}</h3>
                </li>
                {% endif %}
                {% if page.order_link %}
                <li>
                    <a href={{ page.order_link }} target="_blank" class="btn order-button"> 
                        <i class="fab fa-amazon"></i><span class="order-button-text">Order now on Amazon!</span> 
                    </a>
                </li>
                {% endif %}
                {% if page.goodreads_link %}
                <li>
                    <a href={{ page.goodreads_link }} target="_blank" class="btn order-button"> 
                        <i class="fab fa-goodreads"></i><span class="order-button-text">Post a review on Goodreads!</span> 
                    </a>
                </li>
                {% endif %}
                {% if page.etsy_link %}
                <li>
                    <a href={{ page.etsy_link }} target="_blank" class="btn order-button"> 
                        <i class="fab fa-etsy"></i><span class="order-button-text">Get your signed copy and merch on Etsy</span> 
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="text">
            <div class="project-content">
                <h1>{{ page.project_name | upcase}}</h1>
                <p>
                    {{ content }}
                </p>
            </div>
        </div>
    </div>
</div>