---

---

<section>
    <div class="container project">
        <div class="row gap100">
            <div class="col-lg-3 project-img">
                <img src="{{ page.image }}" alt="character" class="img-fluid">
            </div>
            <div class="col-lg project-description" >
                <h2>{{ page.project_name | upcase}}</h2>
                <h3><b>Status:</b> {{page.status}}</h3>
                <h4>{{ page.info }}</h4>
                <p>
                    {{ content }}
                </p>
            </div>
        </div>
    </div>
</section>